.navbar {
    border-bottom: 1px solid #1d3557;
    margin-top: -1px;
    margin-top: -1px;
    background-color: #081225;
    margin-left:1px;
    position: sticky;
    /* border-radius: 20px; */
    top: 0;
    z-index: 1000;
    /* opacity: ; */
}


.navbar:hover {
    background: #233554
}